body {
    padding: 60px 0;
}


.loading-spinner {
	text-align: center;
	padding: 24px;
	margin: 12px auto;
	font-size: 24px;
	color: #ccc;
}


.buffer {
	margin-top: 12px;
	margin-bottom: 12px;
}

.buffer-top {
	margin-top: 12px;
}

.buffer-bottom {
	margin-bottom: 12px;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}
