

.home-container {
	.add-character {
	}

	.queue-item {
		float: left;
		margin: 0 12px 12px 0;
		position: relative;

		.close {
			color: #031D35;
			position: absolute;
			top: -4px;
			right: 4px;
			cursor: pointer;
		}

		.character {
			font-size: 22px;
		}
	}

	.wanikani-icon, .collapse-text {
		display: inline-block;
		vertical-align: middle;
		line-height: 25px;
	}

	.wanikani-icon {
		overflow: hidden;
		width: 25px;
		height: 25px;
		margin-right: 12px;
		background-color: #f0a;

		img {
			width: 100%;
		}
	}
}


