<div class="container">
    <div class="col-md-12">
    	<form>
	    	<input type="text" class="input" value="" />
    		<a class="btn btn-primary submit">Go!</a>
    		<p class="small">Enter only one character at a time.</p>
    	</form>
    </div>
</div>