<a href="#" class="navbar-brand">漢字の宿題 <small> v{{ version }}</small></a>
<a class="pull-right menu-link menu-toggle" data-toggle="collapse" href="#menu"><i class="fa fa-bars"></i></a>
<div class="menu-region pull-right"></div>
