<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            {{#if title}}
                <h4 class="modal-title">{{ title }}</h4>
            {{/if}}
        </div>
        <div class="modal-body"></div>
    </div>
</div>